.foo-li{
  text-align: center;
  list-style: none;
}
footer{
  margin-top: 50px;
}
.foo-a{
    background-color: rgb(172, 30, 30);
    display: block;
    color: white;
    margin: 5px;
    padding: 20px;
    text-decoration: none;
}
.foo-span{
  display: none;
  color: white;
}
*{
  padding: 0;
  margin: 0;
}
@media (min-width: 1000px) {
  .foo-span{
    display: inherit;
  }
  .foo-a{
    display: inline;
    background-color: inherit;
  }
  .foo-li{
    display: inline;
  }
  .footerstyle{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(172, 30, 30);
    height: 8vh;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

  }
}
