*{
  box-sizing: border-box;
  border: 0;
}
body{
	margin: 0;
	font-size: 100%;
  font-family: sans-serif;
  background-image: url("images/hypnotize.png");
}

.container{
  text-align: center;
  margin: 0;
  width: 100%;
}

.banners{
  margin-top: 20px;
}

.banner{
  width: 99vw;
  max-width: 1200px;
  margin: 50px 0 30px 0;
  border: solid 0.5 lightgray;
}

.index h1{
 font-size: 5em;
}
.index a{
  text-decoration: none;
  color: Black;
  font-size: 2em;
}
.index img{
  width: 100%;
  margin-left: 3px;
  height: 390px;
}



@media (min-width:740px) {
  .index img{
    width: 40%;
  }
}
