*{
  box-sizing: border-box;
  border: 0;
}

body{
	margin: 0;
	font-size: 100%;
  background-color: lightblue;
  font-family: sans-serif;
}
.container{
  text-align: center;
  margin: 0;
  width: 100%;
}
.tarjetas{
  width: 100vw;
  max-width: 750px;
  margin: 5px 0;
}
.pregs{
  color: red;
}
.title{
  text-decoration: none;
  font-size: 1.4em;
  color: black;
  background-color: white;
  border-radius: 20px;
}
